// -----------------------------------------------------------------------------
// This file contains style variables.
// -----------------------------------------------------------------------------

/** Theme colors */
$c-black: #000;
$c-black-two: #171d20;
$c-dark-steel: #273135;
$c-white: #fff;
$c-light-blue: #e9f0f5;
$c-orange: #fa7252;
$c-orange-two: #ae5a4a;
$c-green: #6dcab7;
$c-green-two: #5c9c90;

$c-primary: $c-orange;
$c-primary--hover: $c-orange-two;
$c-secondary: $c-dark-steel;
$c-tertiary: $c-green;
$c-tertiary--hover: $c-green-two;
$c-basic: $c-white;
$c-font: $c-black;
$c-dark: $c-black-two;

/**
 * Container's maximum width
 * @type Length
 */
$site-width: 1440px;

/** Theme Fonts */
$f-basic: 'Roboto', sans-serif;
$f-fancy: 'Teko', sans-serif;

/**
 * Grid breakpoints

 * Define the minimum dimensions at which your layout will change,
 * adapting to different screen sizes, for use in media queries.
 */
$media-xs: 576px;
$media-sm: 768px;
$media-md: 992px;
$media-lg: 1200px;
$media-xl: 1460px;
