// -----------------------------------------------------------------------------
// This file contains basic typography styles.
// -----------------------------------------------------------------------------

body {
  font-family: $f-basic;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

h1, h2, h3, h4,
.ssv-h1, .ssv-h2, .ssv-h3, .ssv-h4 {
  display: block;
  font-family: $f-fancy;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: lowercase;
  line-height: 1.2;
  margin: 0;
}

h4, .ssv-h4 {
  font-size: 20px;
  text-transform: uppercase;
}

p, span {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $c-font;
  letter-spacing: 0;

  @media (min-width: $media-md) {
    font-size: 15px;
    line-height: 24px;
  }
}

p {
  margin: 0 0 20px;
}

strong {
  font-weight: 700;
}

a, button {
  @include ssv-on-event(true) {
    text-decoration: none;
    box-shadow: none;
    outline: none;
  }

  color: $c-font;
}
